<div class="wdriver-container">
    <form>
      <div>

        <input type="text" id="wdelivery_id" placeholder="Enter Delivery ID" [(ngModel)]="deliveryId" />
        <button class="wcreate-action-btn" (click)="searchDelivery()">Rechercher</button>
      </div>
    </form>
  
    <div class="wdetails-container">
      <div>
        <div style="width: 50%">
          <div *ngIf="delivery && package" class="wdetails">
        <h3>Détails de la livraison</h3>
        <p><strong>ID :</strong> {{ delivery.delivery_id }}</p>
        <p><strong>Statut :</strong> {{ delivery.status }}</p>
        <p>
          <strong>Emplacement actuel :</strong> {{ currentLocation | json }}
        </p>
        <h3>Détails du colis</h3>
        <p><strong>ID :</strong> {{ package.package_id }}</p>
        <p><strong>Poids :</strong> {{ package.weight }} kg</p>
        <p>
          <strong>Dimensions :</strong> {{ package.dimensions.length }}x{{
            package.dimensions.width
          }}x{{ package.dimensions.height }} cm
        </p>
        </div>
      </div>
      </div>
  
      <div class="wmap-container"></div>
      <div class="button-actions">
        <div #mapContainer class="map-container"></div>
        <div class="status-buttons">
          <button
            class="piccreate-action-btn"
            (click)="changeStatus('picked-up')"
            [disabled]="delivery.status !== 'open'"
          >
            Picked Up
          </button>
          <button
            class="increate-action-btn"
            (click)="changeStatus('in-transit')"
            [disabled]="delivery.status !== 'picked-up'"
          >
            In Transit
          </button>
          <button
            class="delcreate-action-btn"
            (click)="changeStatus('delivered')"
            [disabled]="delivery.status !== 'in-transit'"
          >
            Delivered
          </button>
          <button
            class="falcreate-action-btn"
            (click)="changeStatus('failed')"
            [disabled]="delivery.status !== 'in-transit'"
          >
            Failed
          </button>
          
        </div>
      </div>
    </div>
  </div>
