<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Package Tracker
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <h4 class="name">Tracker</h4>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/tracker">
      <span>web-tracker</span>
    </button>
    <button mat-button class="menu-button" routerLink="/driver">
      <span>web-driver</span>
    </button>
    <button mat-button class="menu-button" routerLink="/web-admin">
      <span>web-admin</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
